@page "/"

<GslPage Title="Dashboard">
    <GslPageSection>
            <h1>Dashboard</h1>
            <MudAlert Severity="Severity.Warning">
                Em construção...
            </MudAlert>
    </GslPageSection>
</GslPage>